---
layout: default
---

<div class="parallax-container" style="position: absolute;top: 0px;width: 100%;height: 600px;">
  <div class="parallax">
    <img src="{{ "/assets/img/banner_1.png" | relative_url }}"></div>
  <div class="container center" style="position:relative;top:70%;">
    <a class="btn btn-large" href="#get-startet"><i class="mdi mdi-presentation-play left"></i>Mehr</a>
  </div>
  <div style="position: absolute;right: 1em;bottom: 1em">
    <a style="color:gray" target="_blank" href="http://www.freepik.com">Designed by vectorpocket / Freepik</a></div>
</div>

<div class="container" style="margin-top:600px">
  <div class="section scrollspy" id="get-startet">
    
    <div class="center claim hide-on-med-and-down">
      <img height="150" class="logo-carousel" src="{{ "/assets/img/zupro2flex.svg" | relative_url }}">
    </div>
    <h5 class="center light">{{ content }}</h5>

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-cogs medium"></i></h2>
          <h5 class="center">Technologisch</h5>
          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-office-building medium"></i></h2>
          <h5 class="center">Wirtschaftlich</h5>
          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-book-open-page-variant medium"></i></h2>
          <h5 class="center">Juristisch</h5>
          <p class="light"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l8">
      <img alt="iwu" width="100%" class="z-depth-3 hide-on-med-and-up"
        src="{{ "/assets/img/schema.png" | relative_url }}" />
      <img alt="iwu" width="100%" class="materialboxed z-depth-3 hide-on-small-only"
        data-caption="Das Konzept hinter ZuPro2Flex" src="{{ "/assets/img/schema.png" | relative_url }}" />
    </div>
    <div class="col s12 m6 l4">
      Die Basis für die Fragestellungen des Projekts bildet ein Grundkonzept zur Realisierung von
      Pay-per-X-Geschäftsmodellen, welches in der Abbildung dargestellt ist. In diesem Konzept stellen die
      Querschnittstechnologien Transparenz und Integration Enabler von Pay-per-X-Geschäftsmodellen dar. Diese
      Querschnittstechnologien werden im Projektvorhaben weiterentwickelt und für die Nutzung innerhalb der
      Geschäftsmodelle angepasst.
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">Für eine zielorientierte Geschäftsmodellentwicklung werden neben
      technisch-technologischen Fragestellungen wirtschaftliche und juristische Aspekte von
      Pay-per-X-Geschäftsmodellen betrachtet. Dabei können Sensor- und Datenkonzepte genutzt werden, um einen
      Maschinennutzungs- und Risikoindex zu bilden. Dieser fungiert zum einen als abrechenbare Einheit und zum anderen
      als digitaler Notar. Dadurch wird die Geschäftssicherheit für alle Beteiligten gewahrt.
    </div>
  </div>
</div>



<div class="container last-post">
  <div class="divider"></div>
  <section>
    <h5>Letzte Beiträge</h5>
    <div class="row">
      {% for post in site.posts limit:3 %}
      {% assign date_format = site.minima.date_format | default: "%d.%m.%y" %}
      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <a class="waves-effect waves-light" href="{{ post.url | relative_url }}">
              <img src="{{ post.image | relative_url }}" />
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">{{ post.title | escape }}</span>
          </div>
          <div class="card-action">
            <span class="light">{{ post.date | date: date_format }} • {{ post.categories }}</span>
            <a class="right" href="{{ post.url | relative_url }}">Weiterlesen</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>